:root {
    --spec--0: #000000;
    --spec--1: #0000c0;
    --spec--2: #c00000;
    --spec--3: #c000c0;
    --spec--4: #00c000;
    --spec--5: #00c0c0;
    --spec--6: #c0c000;
    --spec--7: #c0c0c0;

    --tool-size: 48px;
    --tool-md-size: 40px;
    --tool-sm-size: 32px;
    --tool-xs-size: 24px;
    --tool-char-size: 24px;
    --panel-divider-size: 4px;

    --loading: var(--material-red--500);

    --panel-background: var(--material-brown--900);
    --panel-divider: var(--material-brown--700);
    --panel-active: var(--material-brown--600);
    --panel-active-highlight: var(--material-red--500);
    --panel-light-on: var(--material-red--500);
    --panel-light-off: var(--material-black);
    --panel-transparent: var(--material-gray--500);
    --panel-focus: var(--material-gray--500);
    --panel-focus-opacity: 0.5;

    --subpanel-background: var(--material-brown--600);
    --subpanel-divider: var(--material-brown--800);
    --subpanel-separator: var(--material-brown--900);
    --subpanel-active-highlight: var(--material-red--500);

    --layers-scrollbar-thumb: var(--material-red--500);
    --layers-scrollbar-track: var(--subpanel-divider);
    --layers-active: var(--material-red--500);
    --layers-tool-active: var(--material-brown--700);

    --menu-text: var(--material-white);
    --menu-font-size: 20px;
    --menu-offset: 24px;

    --sheet-offset: 16px;

    --alert-background: var(--material-brown--900);
    --alert-divider: var(--material-red--500);
    --alert-padding: 24px;
    --alert-text: var(--material-white);
    --alert-font-size: 20px;

    --informer-background: var(--material-red--900);
    --informer-padding: 10px;
    --informer-text: var(--material-white);
    --informer-font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background: #000000;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--loading);
}

.loading,
.loading:after {
    box-sizing: border-box;
}

.loading {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loading:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: loading 1.2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 344px;
    min-height: 344px;
}

.panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: var(--tool-size);
    background: var(--panel-background);
}

.panel--palette {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: var(--panel-divider-size) solid var(--panel-divider);
}

.panel--toolbox {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: var(--panel-divider-size) solid var(--panel-divider);
}

.panel__pane {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.subpanel {
    display: flex;
    min-height: var(--tool-size);
    background: var(--subpanel-background);
}

.subpanel--palette {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    position: absolute;
    top: var(--tool-size);
    right: 0;
    left: 0;
    border-bottom: var(--panel-divider-size) solid var(--subpanel-divider);
    padding-left: 4px;
}

.subpanel--palette_chars {
    flex-direction: column;
    justify-content: center;
    padding: var(--panel-divider-size) 0;
}

.subpanel--palette_chars .tool {
    border: 1px solid var(--subpanel-separator);
}

.subpanel--palette_chars .tool + .tool {
    border-left: 0 none;
}

.subpanel--palette_chars .panel__pane + .panel__pane .tool {
    border-top: 0 none;
}

.subpanel--palette_selection {
    justify-content: end;
    padding-left: 0;
}

.subpanel--tools,
.subpanel--menu {
    position: absolute;
    right: 0;
    bottom: var(--tool-size);
    left: 0;
    border-top: var(--panel-divider-size) solid var(--subpanel-divider);
}

.subpanel--tools {
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.subpanel--menu {
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.menu__item {
    position: relative;
    min-height: var(--tool-sm-size);
    padding: 0 var(--panel-divider-size);
    margin: calc((var(--tool-size) - var(--tool-sm-size)) / 2) var(--menu-offset);
    cursor: pointer;
}

.menu__item > .menu__item-content {
    color: var(--menu-text);
    font-family: sans-serif;
    font-size: var(--menu-font-size);
    line-height: var(--tool-sm-size);
    text-decoration: underline;
}

.menu__item:active > .menu__item-content {
    text-decoration: none;
}

.menu__item-load {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
}

.layers {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    position: absolute;
    top: var(--tool-size);
    right: 0;
    width: 272px;
    box-sizing: border-box;
    background: var(--subpanel-background);
    border-top: var(--panel-divider-size) solid var(--subpanel-background);
    border-bottom: var(--panel-divider-size) solid var(--subpanel-divider);
    max-height: calc(100vh - var(--tool-size) * 3);
}

.layers__items {
    min-height: var(--tool-sm-size);
    background: var(--panel-background);
    overflow-y: scroll;
    flex: 1;
}

@supports selector(::-webkit-scrollbar) {
    .layers__items::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    .layers__items::-webkit-scrollbar:vertical {
        width: 15px;
    }

    .layers__items::-webkit-scrollbar-track {
        background-color: var(--layers-scrollbar-track);
    }

    .layers__items::-webkit-scrollbar-thumb {
        background-color: var(--layers-scrollbar-thumb);
        border-radius: 10px;
        border: 3px solid var(--layers-scrollbar-track);
    }
}

@supports not selector(::-webkit-scrollbar) {
    .layers__items {
        scrollbar-color: var(--layers-scrollbar-thumb) var(--layers-scrollbar-track);
    }
}

.layers__item {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--panel-divider-size) calc(var(--panel-divider-size) * 2);
    min-height: var(--tool-md-size);
    cursor: pointer;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.layers__item--active {
    background: var(--layers-active);
}

.layers__preview {
    box-sizing: border-box;
    height: var(--tool-sm-size);
    border: 1px solid var(--panel-divider);
}

.layers__toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tool {
    --tool-offset: calc(var(--tool-size) / 12);
    --tool-inner-size: calc((var(--tool-size) - var(--tool-offset) * 2) / 2);

    display: block;
    position: relative;
    cursor: pointer;
    width: var(--tool-size);
    height: var(--tool-size);
    outline: none !important;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.tool--md {
    --tool-size: var(--tool-md-size);
}

.tool--sm {
    --tool-size: var(--tool-sm-size);
}

.tool--xs {
    --tool-size: var(--tool-xs-size);
}

.tool:active::after {
    display: block;
    position: absolute;
    content: " ";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--panel-focus);
    opacity: var(--panel-focus-opacity);
}

.tool--marker:active::after,
.tool--disabled:active::after {
    display: none;
}

.tool--disabled {
    opacity: 0.25;
}

.tool--active {
    background: var(--panel-active);
}

.tool--active::before {
    display: none;
    position: absolute;
    content: " ";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.panel--palette .tool--active::before {
    display: block;
    border-top: 4px solid var(--panel-active-highlight);
}

.panel--toolbox .tool--active::before {
    display: block;
    border-bottom: 4px solid var(--panel-active-highlight);
}

.subpanel--palette .tool--active::before {
    display: block;
    border-bottom: 4px solid var(--subpanel-active-highlight);
}

.subpanel--tools .tool--active::before {
    display: block;
    border-top: 4px solid var(--subpanel-active-highlight);
}

.layers .tool--active {
    background: var(--layers-tool-active);
}

.tool__light {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--tool-size);
    height: var(--tool-size);
    box-sizing: border-box;
    border: var(--tool-offset) solid var(--panel-background);
}

.subpanel .tool__light {
    border-color: var(--subpanel-background);
}

.tool--active > .tool__light {
    border-color: var(--panel-active);
}

.tool__light--on {
    background: var(--panel-light-on);
}

.tool__light--off {
    background: var(--panel-light-off);
}

.tool__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--tool-size);
    height: var(--tool-size);
}

.tool__color {
    position: absolute;
    top: var(--tool-offset);
    right: var(--tool-offset);
    bottom: var(--tool-offset);
    left: var(--tool-offset);
}

.tool__color_ink {
    --offset: calc((var(--tool-size) - var(--tool-inner-size)) / 2);

    position: absolute;
    top: var(--offset);
    left: var(--offset);
    width: var(--tool-inner-size);
    height: var(--tool-inner-size);
}

.tool__color_paper {
    box-sizing: border-box;
    position: absolute;
    top: var(--tool-offset);
    right: var(--tool-offset);
    bottom: var(--tool-offset);
    left: var(--tool-offset);
}

.tool__color_paper::after {
    --offset: calc((var(--tool-size) - var(--tool-inner-size)) / 2 - var(--tool-offset));

    content: " ";
    display: block;
    position: absolute;
    top: var(--offset);
    left: var(--offset);
    width: var(--tool-inner-size);
    height: var(--tool-inner-size);
    overflow: hidden;
    background: var(--panel-background);
}

.tool--active > .tool__color_paper::after {
    background: var(--panel-active);
}

.tool__char {
    --offset: calc((var(--tool-size) - var(--tool-char-size)) / 2);

    position: absolute;
    top: var(--offset);
    left: var(--offset);
    width: var(--tool-char-size);
    height: var(--tool-char-size);
    background-image: url(../drawable/specscii__24x24.png);
}

.tool__shape > .tool__icon {
    display: none;
}

.tool__shape--point > .tool__icon--shape__point {
    display: block;
}

.tool__shape--line > .tool__icon--shape__line {
    display: block;
}

.tool__shape--stroke_box > .tool__icon--shape__stroke_box {
    display: block;
}

.tool__shape--fill_box > .tool__icon--shape__fill_box {
    display: block;
}

.tool__shape--stroke_ellipse > .tool__icon--shape__stroke_ellipse {
    display: block;
}

.tool__shape--fill_ellipse > .tool__icon--shape__fill_ellipse {
    display: block;
}

.tool__mode > .tool__icon {
    display: none;
}

.tool__mode--edge > .tool__icon--mode__edge {
    display: block;
}

.tool__mode--center > .tool__icon--mode__center {
    display: block;
}

.tool__color_ink--transparent {
    --half-size: calc(var(--tool-inner-size) / 2);

    background-image: linear-gradient(45deg, var(--panel-transparent) 25%, transparent 25%),
        linear-gradient(-45deg, var(--panel-transparent) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, var(--panel-transparent) 75%),
        linear-gradient(-45deg, transparent 75%, var(--panel-transparent) 75%);

    background-size: var(--tool-inner-size) var(--tool-inner-size);
    background-position: 0 var(--half-size), 0 0, var(--half-size) 0, calc(var(--half-size) * -1) var(--half-size);
}

.tool__char--transparent {
    top: var(--tool-offset);
    right: var(--tool-offset);
    bottom: var(--tool-offset);
    left: var(--tool-offset);
    width: auto;
    height: auto;
}

.tool__color--transparent,
.tool__color_paper--transparent,
.tool__light--transparent,
.tool__char--transparent {
    --size: calc(var(--tool-size) / 2 - var(--tool-offset));
    --half-size: calc(var(--size) / 2);

    background-image: linear-gradient(45deg, var(--panel-transparent) 25%, transparent 25%),
        linear-gradient(-45deg, var(--panel-transparent) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, var(--panel-transparent) 75%),
        linear-gradient(-45deg, transparent 75%, var(--panel-transparent) 75%);

    background-size: var(--size) var(--size);
    background-position: 0 var(--half-size), 0 0, var(--half-size) 0, calc(var(--half-size) * -1) var(--half-size);
}

.tool__color--0,
.tool__color_ink--0,
.tool__color_paper--0 {
    background: var(--spec--0);
}

.tool__color--1,
.tool__color_ink--1,
.tool__color_paper--1 {
    background: var(--spec--1);
}

.tool__color--2,
.tool__color_ink--2,
.tool__color_paper--2 {
    background: var(--spec--2);
}

.tool__color--3,
.tool__color_ink--3,
.tool__color_paper--3 {
    background: var(--spec--3);
}

.tool__color--4,
.tool__color_ink--4,
.tool__color_paper--4 {
    background: var(--spec--4);
}

.tool__color--5,
.tool__color_ink--5,
.tool__color_paper--5 {
    background: var(--spec--5);
}

.tool__color--6,
.tool__color_ink--6,
.tool__color_paper--6 {
    background: var(--spec--6);
}

.tool__color--7,
.tool__color_ink--7,
.tool__color_paper--7 {
    background: var(--spec--7);
}

.drawing {
    position: absolute;

    top: calc(var(--tool-size) + var(--panel-divider-size) + var(--sheet-offset));
    right: var(--sheet-offset);
    bottom: calc(var(--tool-size) + var(--panel-divider-size) + var(--sheet-offset));
    left: var(--sheet-offset);
}

.drawing__sheet,
.drawing__areas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;

    image-rendering: optimizeSpeed; /* Older versions of FF */
    image-rendering: -moz-crisp-edges; /* FF 6.0+ */
    image-rendering: -webkit-optimize-contrast; /* Safari */
    image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated; /* Modern browsers */
    -ms-interpolation-mode: nearest-neighbor; /* IE */
}

.informer {
    position: absolute;
    right: 0;
    bottom: calc(var(--tool-size) + var(--panel-divider-size));
    background: var(--informer-background);
    padding: var(--informer-padding);
    color: var(--informer-text);
    font-family: sans-serif;
    font-size: var(--informer-font-size);
    line-height: 1;
}

.alert {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.alert__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.alert__content {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--alert-background);
    border-top: 4px solid var(--alert-divider);
    padding: var(--alert-padding);
    color: var(--alert-text);
    font-family: sans-serif;
    font-size: var(--alert-font-size);
    line-height: 1.2;
    cursor: pointer;
}

.hidden {
    display: none;
}

@media screen and (((orientation: portrait) and (max-width: 399px))
    or ((orientation: landscape) and (max-height: 399px))) {

    :root {
        --tool-size: 40px;
        --tool-md-size: 32px;
        --tool-sm-size: 26px;
        --tool-xs-size: 20px;
        --menu-font-size: 18px;
        --informer-font-size: 14px;
    }

    .tool--xs > .tool__char {
        transform: scale(0.8);
    }
}

@media screen and ((orientation: portrait) and (max-width: 399px)) {
    .layers {
        width: 224px;
    }

    .panel--palette .tool--active::before {
        border-top: 3px solid var(--panel-active-highlight);
    }

    .panel--toolbox .tool--active::before {
        border-bottom: 3px solid var(--panel-active-highlight);
    }

    .subpanel--palette .tool--active::before {
        border-bottom: 3px solid var(--subpanel-active-highlight);
    }

    .subpanel--tools .tool--active::before {
        border-top: 3px solid var(--subpanel-active-highlight);
    }

    .alert__content {
        border-top: 3px solid var(--alert-divider);
    }
}

@media screen and (orientation: landscape) {
    .panel {
        flex-direction: column;
        min-height: auto;
        min-width: var(--tool-size);
    }

    .panel__pane {
        flex-direction: column;
    }

    .subpanel--palette_chars {
        padding: 0 var(--panel-divider-size);
    }

    .subpanel--palette_chars > .panel__pane,
    .layers .panel__pane {
        flex-direction: row;
    }

    .panel--palette {
        top: 0;
        right: auto;
        bottom: 0;
        left: var(--tool-size);
        border-right: var(--panel-divider-size) solid var(--panel-divider);
        border-bottom: 0 none;
    }

    .panel--toolbox {
        top: 0;
        right: auto;
        bottom: 0;
        left: 0;
        border-top: 0 none;
    }

    .subpanel {
        min-height: auto;
        min-width: var(--tool-size);
    }

    .subpanel--palette {
        justify-content: center;
        top: 0;
        right: auto;
        bottom: 0;
        left: calc(var(--tool-size) * 2);
        border-right: var(--panel-divider-size) solid var(--subpanel-divider);
        border-bottom: 0 none;
        padding-top: 4px;
        padding-left: 0;
    }

    .subpanel--palette,
    .subpanel--tools {
        align-items: start;
    }

    .subpanel--palette_chars {
        align-items: center;
        justify-content: start;
        padding-top: 4px;
    }

    .subpanel--palette_selection {
        align-items: end;
        padding-top: 0;
    }

    .subpanel--tools,
    .subpanel--menu {
        top: 0;
        right: auto;
        bottom: 0;
        left: var(--tool-size);
        border-right: var(--panel-divider-size) solid var(--subpanel-divider);
        border-top: 0 none;
    }

    .layers {
        top: auto;
        right: auto;
        bottom: 0;
        left: calc(var(--tool-size) * 2);
        border-bottom: 0 none;
        border-left: var(--panel-divider-size) solid var(--subpanel-background);
        max-height: 100vh;
    }

    .drawing {
        top: var(--sheet-offset);
        right: var(--sheet-offset);
        bottom: var(--sheet-offset);
        left: calc(var(--tool-size) * 2 + var(--panel-divider-size) + var(--sheet-offset));
    }

    .panel--palette .tool--active::before {
        border-top: 0 none;
        border-right: 4px solid var(--panel-active-highlight);
    }

    .panel--toolbox .tool--active::before {
        border-bottom: 0 none;
        border-left: 4px solid var(--panel-active-highlight);
    }

    .subpanel--palette .tool--active::before {
        border-bottom: 0 none;
        border-right: 4px solid var(--subpanel-active-highlight);
    }

    .subpanel--palette_chars .tool--active::before {
        border-bottom: 4px solid var(--subpanel-active-highlight);
        border-right: 0 none;
    }

    .subpanel--tools .tool--active::before {
        border-top: 0 none;
        border-right: 3px solid var(--subpanel-active-highlight);
    }

    .informer {
        bottom: 0;
    }
}
